.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;
  font-family: "Segoe UI", Tahoma, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.searchInput {
  width: 100%;
  max-width: 300px;
  padding: 11px 16px;
  font-size: 1rem;
  border-radius: 24px;
  border: 1.5px solid #31473a;
  background-color: #f4f6f8;
  box-shadow: 0 2px 8px rgba(49, 71, 58, 0.03);
  transition: border-color 0.2s, box-shadow 0.2s;
  margin-bottom: 1rem;
  color: #000;
}

.searchInput:focus {
  outline: none;
  border-color: #60916d;
  box-shadow: 0 0 6px 0 #80cfa9;
  background: #fff;
}

.clubsContainer {
  background-color: #d9d9d9;
  width: 90%;
  max-width: 650px;
  border: 3px solid #ffffff;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.clubRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  border: 1px solid #31473a;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 1px solid #31473a;
  background-color: #e4e8e4;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.clubRow:hover,
.clubRow:focus-within {
  background-color: #d0d7d0;
  box-shadow: 0 2px 6px rgba(49, 71, 58, 0.3);
}

.newClubButton {
  margin-bottom: 1.5rem;
  height: 100%;
  max-width: 120px;
  width: 100%;
  min-height: 40px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  align-self: center;
  background-color: #31473a;
  padding: 0.2rem 0.2rem;
}

.button {
  border-radius: 6px;
  max-width: 80px;
  width: 100%;
  height: 30px;
  background-color: #31473a;
  border: 1px solid #fff;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
  font-weight: 600;
  cursor: pointer;
}

.clubName {
  width: 200px;
  flex-shrink: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
  user-select: none;
}

.description {
  flex: 1;
  color: #555;
  font-size: 1rem;
  overflow-wrap: anywhere;
  user-select: none;
}

@media (min-width: 501px) and (max-width: 999px) {
  h1 {
    font-size: 2.2rem;
  }

  .clubsContainer {
    width: 80%;
  }
}

@media (min-width: 350px) and (max-width: 500px) {
  h1 {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0.5rem;
  }

  .clubsContainer {
    width: 80%;
  }

  .clubName {
    width: 55px;
    font-size: 0.9rem;
  }

  .description {
    font-size: 0.85rem;
    line-height: 1.3;
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
